<h1>List of saved places</h1>
	<div id='savedPlaces'>
		<% places.forEach(function(place){ %>
			<p>
				<a href="/places/<%= place.name%>"><%= place.name %></a>
			</p>
		<% }) %>
	</div>
	<a href="/places/new">Add a place</a>
	<a href="/profile">Go back to your profile</a>
