
<div class="text-center">
<h1>List of Places</h1>
	<div id='savedPlaces'>
		<% places.forEach(function(place){ %>
			<p>
				<a href="/places/<%= place.name%>"><%= place.name %></a>
			</p>
		<% }) %>
	</div>
	<%# <input id="pac-input" class="controls" type="text" placeholder="Search Box">%>
	<%# <div id="map"></div>
	<script src="../script.js" defer></script>%>%>

	<input id="pac-input" class="controls" type="text" placeholder="Search Box">
	<div id="map"></div>

</div>
