<!doctype html>
<html>
<head>
    <title>Authentication</title>

    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="text-center">
        <h1> Come on in!</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>
</body>
</html>
